.para {
    font-size:1em;
    text-align:center;
    color:#980000;
}
#file-label {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    color: #980000;
}
#thefile {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: #980000;
    display:none;
}
#main {
    width:100%;
    width:100%;
    position:relative;
    top:10px;
    left:10px;
}
#media-container {
    width:100%;
    height:100%;
}
.MediaPlayerIcon {
    width:28px;
    height:28px;
    text-align:center;
    border:none;
    background-size:cover;
    background-position:center;
    position:fixed;
    left:162px;
    top:162px;
}
#time-position {
    position: fixed;
    left: 110px;
    top: 146px;
    width: 100px;
    height: 5px;
    text-align: center;
    color: #980000;
}
.MediaPlayerIcon:hover {
    cursor:pointer;
}
#MediaPlayerControl-seekbar {
    width: 160px;
    height: 15px;
    position: fixed;
    top:167px;
}
.icon-pause {
    background-image: url("../images/pause-icon.svg");
}
.icon-play {
    background-image: url("../images/play-icon.svg");
}
.icon-play:hover {
    background-image: url("../images/play-icon-hover.svg");
}
.icon-pause:hover {
    background-image: url("../images/pause-icon-hover.svg");
}
#album {
    position: fixed;
    top:0px;
    left: 0px;
    width:190px;
    height:190px;
    background-image: url("../images/default/default-album-icon.png");
    background-size:cover;
    background-position:center;
}
#CanvasContainer {
    width:100%;
    height:100%;
    position:center;
}
#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.icon-volume {
    background-image: url("../images/default/volume_icon.svg");
    left:191px;
}
#volume {
    width: 15px;
    height: 70px;
    position: fixed;
    top:90px;
    left: 196px;
    -webkit-appearance: slider-vertical;
}
