.para {
    font-size:1em;
    text-align:center;
    color:#980000;
}
.td{
    height:100%;
    width:100%;
    font-size:8;
}
#media-icon {
    width:38px;
    height:38px;
}
#MediaPlayerControls-media-icon-play {
    width:48px;
    height:48px;
    text-align:center;
    border:none;
    background:none;
}
#MediaPlayerControls-seekbar {
    width: 100%;
    height: 15px;
    position: center;
}
#canvas {
    position: center;
    width: 100%;
    height: 100%;
}
#thefile {
    color: #980000;
}
#aud_add {
    position: fixed;
    left: 10px;
    bottom: 10px;
}